/* TAG CONTAINER */
.container {
    width: 500px;
    display: flex; /*Identificar que a tag vai ser o container de flexbox*/
    flex-direction: row; /*Identificar qual vai ser o eixo principal e perpendicular*/
    justify-content: center; /*Alinha os elementos no eixo principal*/
    align-items: center; /*Usado para alinhar eixos perpendiculares*/
    
}

.bloco1,
.bloco2,
.bloco3 {
    color: black;
    font-weight: 600;
}

/* As propriedades flex-direction são várias. Existem row, row-reverse, column e column-reverse. */
/* As propriedades justify-content são várias. Existem o flex-start, flex-end, center, space-between, space-around. */